[phases.setup]
nixPkgs = [
    "php82",
    "php82Packages.composer",
    "php82Extensions.mongodb",
    "php82Extensions.mbstring",
    "php82Extensions.xml",
    "php82Extensions.curl",
    "php82Extensions.zip",
    "openssl",
    "git",
    "nodejs", # Agrega nodejs aquí para tener npm disponible
]

[phases.setup.env]
COMPOSER_ALLOW_SUPERUSER = "1"
COMPOSER_HOME = "/tmp/composer"
PATH = "/root/.composer/vendor/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[phases.build]
cmds = [
    "composer update"
    "composer install --no-interaction --optimize-autoloader --no-dev",
    "npm i", # Ejecuta npm install después de instalar composer
    "composer dump-autoload --optimize",
    "php artisan clear-compiled",
    "php artisan optimize",
    "chmod -R 777 storage bootstrap/cache"
]

[start]
cmd = "php artisan serve --host=0.0.0.0 --port=${PORT:-8000}"